{
  "presets": [
    ["@4c", {
      "targets": {}
    }],
    "@babel/typescript"
  ],
  "env": {
    "esm": {
      "presets": [
        ["@4c", {
          "targets": {},
          "modules": false
        }]
      ]
    }
  }
}
