{
  "presets": ["@4c", "@babel/typescript"],
  "env": {
    "esm": {
      "presets": [
        [
          "@4c",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        [
          "babel-plugin-transform-rename-import",
          {
            "original": "lodash",
            "replacement": "lodash-es"
          }
        ]
      ]
    },
    "test": {
      "presets": [["@4c", { "development": true }]]
    }
  }
}
